certifi>=2020.6.20
click>=7.1.2
colorhash 
configparser>=5.0.0
dnspython>=1.16.0
paho-mqtt>=1.6.1
pycryptodome>=3.15.0
pymongo>=4.2.0
requests>=2.28.2
schedule>=1.1.0
xlrd
Flask>=2.2
Jinja2>=2.11.2
MarkupSafe>=1.1.1
Werkzeug
# numpy this will be installed by tensorflow
meteostat
xgboost>=1.7.5
scikit-learn==1.2.2
tensorflow>=2.13.0
holidays>=0.30